.main {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -300px;
    width: 400px;
    height: 600px;
    background-color: #ddd;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    /*盒子阴影*/
}


/*对主界面中三个组成部分进行绝对定位*/

.header,
.list,
.footer {
    position: absolute;
    left: 0;
    right: 0;
}

.header {
    top: 0;
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    /*设置字体大小为默认大小1.2倍*/
    text-align: center;
    /*设置文本水平居中*/
    letter-spacing: 5px;
    /*设置字符间距*/
    color: #eee;
    background-color: #20A4F1;
}

.footer {
    bottom: 0;
    height: 80px;
    background-color: #20A4F1;
}

.list {
    top: 60px;
    bottom: 80px;
    overflow-y: scroll;
}


/*设置歌曲列表项效果*/

.item {
    position: relative;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 9pt;
    line-height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all .5s;
    /* 过渡 */
    cursor: pointer;
    /*设置指针样式*/
}


/*伪类选择器*/

.item:hover,
.active {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.2);
    border-left: 5px solid #20A4F1;
}

.item>div {
    display: inline-block;
    padding: 0 5px;
    box-sizing: border-box;
}

.item-icon {
    width: 25px;
    position: absolute;
    left: 10px;
    top: 0;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.play {
    transform: rotate(360deg);
    transition: all .5s;
    animation: desc 5s linear infinite;
}

@keyframes desc {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(720deg)
    }
}
.item-icon>img {
    margin-top: 9px;
}

.item-size {
    position: absolute;
    right: 0;
    width: 80px;
}

.item-name {
    position: absolute;
    left: 50px;
    right: 80px;
}


/*伪对象选择器*/

::-webkit-scrollbar {
    width: 2px;
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: #20A4F1;
}

.progress-bg {
    height: 2px;
    background-color: #fff;
}

.progress {
    height: 100%;
    width: 45%;
    background-color: #ff6700;
    box-shadow: 0 0 10px #ff6700;
    border-radius: 0 1px 1px 0;
}

.time {
    display: flex;
    height: 18px;
    padding: 5px;
    width: 100%;
    font-size: 8pt;
    color: #eee;
    box-sizing: border-box;
}

.time>div {
    flex: 1;
}

.time-total {
    text-align: right;
}


/* 歌曲信息 */

.music-info {
    display: flex;
    justify-content: space-between;
}

.music-info-name {
    flex: 1;
    padding: 10px;
}

.music-info-bof {
    flex: 1;
    padding: 10px;
    text-align: right;
    padding-right: 20px;
}

.music-info-last,
.music-info-stop,
.music-info-next {
    display: inline-block;
    padding-left: 10px;
}

.music-info-img,
.music-info-img-last,
.music-info-img-next {
    width: 25px;
    height: 25px;
}